.backgr {
  background-color: #d6dee1;
}

.categoryList {
  border: 3px solid #077d82;
  border-radius: 5px;
}

.borderSecondaryText {
  text-align: left;
}

.categorysScroll {
  overflow: hidden;
  overflow-y: scroll;
  height: 400px;
  width: 250px;
}

@media (max-width: 900px) {
  .categoryList {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #d6dee1;
    border: 3px solid #077d82;
  }

  .borderSecondaryText {
    height: 360px;

    overflow: hidden;
    overflow-y: scroll;
  }
}
